# Python build artifacts
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
env/
venv/
build/
dist/

# Randnet - servlet (not public yet)
servlet/

# Randnet - build artifacts
*.war

# Randnet - local testing only
Dockerfile
docker-compose.yml

# Randnet - IDE files
.vscode/
.idea/
